{% load static %} <!-- Загружаем тег static, который позволяет использовать статические файлы (например, изображения и CSS) в шаблоне -->

<!DOCTYPE html>
<html> <!-- Открытие HTML-документа -->
<head>
    <title>Список тестов</title> <!-- Заголовок страницы, который отображается в вкладке браузера -->
    
    <!-- Подключение файла стилей для страницы с помощью тега link. Используется статический файл styles.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container"> <!-- Контейнер для всего содержимого страницы -->
        <h1>Список тестов</h1> <!-- Основной заголовок страницы, который отображает текст "Список тестов" -->

        <ul> <!-- Ненумерованный список, который будет содержать все тесты -->
            {% for quiz in quizzes %} <!-- Цикл по всем тестам, переданным в контексте переменной `quizzes` -->
                <li class="quiz-item"> <!-- Каждый элемент списка будет представлять собой тест -->
                    <!-- Ссылка на страницу подробностей теста с динамическим URL, основанным на id теста -->
                    <a href="{% url 'quiz_detail' pk=quiz.pk %}" class="quiz-title">{{ quiz.title }}</a>

                    {% if user.is_superuser %} <!-- Если текущий пользователь является суперпользователем -->
                        <div class="button-container"> <!-- Контейнер для кнопки удаления -->
                            <!-- Форма для отправки POST-запроса на удаление теста, только для суперпользователя -->
                            <form method="POST" action="{% url 'delete_quiz' quiz.id %}" style="display:inline;">
                                {% csrf_token %} <!-- Защита от CSRF-атак, необходимо для отправки POST-запросов -->
                                <button type="submit" class="button delete-button">
                                    <!-- Кнопка для удаления теста с иконкой "мусорной корзины" -->
                                    <img src="{% static 'images/trash.png' %}" alt="Удалить" class="icon">
                                </button>
                            </form>
                        </div>
                    {% endif %} <!-- Конец блока, который отображается только для суперпользователя -->
                </li>
            {% endfor %} <!-- Конец цикла по тестам -->
        </ul>

        {% if user.is_superuser %} <!-- Если текущий пользователь является суперпользователем -->
            <!-- Кнопка для создания нового теста, только для суперпользователя -->
            <a href="{% url 'create_quiz' %}" class="button create-button">Создать новый тест</a>
        {% endif %} <!-- Конец блока, который отображается только для суперпользователя -->

        <!-- Ссылка для возврата на главную страницу -->
        <a href="{% url 'home' %}" class="button home-button">На главную</a>
    </div>
</body>
</html>
